main
  section.location
    .city Leticia, COL
    .date Miercoles 05 Mayo 2021
  .current
    .temp
      | 39
      span &deg;c
      span.icon-weather-sunny
    .weather Soleado
    .hi-low 18&deg;c / 42&deg;c
